
<section class="book" style="margin-top: 50px">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          
        <form>
          <h4 class="text-center">Reserve <span>Playground</span></h4>
          <div class="form-group">
            <span>Date From :</span>
            <input type="date" class="form-control" name="bookedDateFrom" [(ngModel)]="bookedDateFrom">
            <ul>
              <li *ngFor='let error of errorBookedDateFrom'> *{{ error }} </li>
            </ul>
          </div>

          <div class="form-group">
              <span>Date To :</span>
            <input type="date" class="form-control" name="bookedDateTo" [(ngModel)]="bookedDateTo">
            <ul>
              <li *ngFor='let error of errorBookedDateTo'> *{{ error }} </li>
            </ul>
          </div>

          <div class="form-group">
              <span>Time From :</span>
            <input type="time" class="form-control" name="bookedTimeFrom" [(ngModel)]="bookedTimeFrom">
            <ul>
              <li *ngFor='let error of errorBookedTimeFrom'> *{{ error }} </li>
            </ul>
          </div>

          <div class="form-group">
              <span>Time To :</span>
            <input type="time" class="form-control" name="bookedTimeTo" [(ngModel)]="bookedTimeTo">
          </div>
          <div class="error">
            <span>{{ generalError }}</span>
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="book()">Book</button>
          <ul>
            <li *ngFor='let error of errorBookedTimeTo'> *{{ error }} </li>
          </ul>
          
        </form>

      </div>
    </div>
  </div>
</section>
