<footer>
    <ul>
        <li>
          <a class="nav-link" routerLink="/homeAdmin">Home <span class="sr-only">(current)</span></a>
        </li>

        <li>
          <a class="nav-link" routerLink="/addPlayground">Add Playground</a>
        </li>

        <li>
          <a class="nav-link" routerLink="/viewBookingsAdmin">View Bookings</a>
        </li>

        <li>
          <a class="nav-link" routerLink="/approveBookings">Approve Bookings</a>
        </li>

        <li>
          <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
        </li>

      </ul>
    <small>Copyright © 2018, Thomson Reuters. All rights reserved.</small>
</footer>