.viewPlaygrounds
{
    padding: 60px 0;
    margin-top: 65px;
}

.title
{
    color: #f59a28;
    margin-bottom: 65px;
}

.title h2::after
{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f59a28;
    margin: auto;
    margin-top: 12px;
}

.viewPlaygrounds .go
{
    background-color: #f59a28;
    border: 0;
    margin-right: 15px;
}

.card
{
    margin-bottom: 35px;
}